node_modules/
dist/
.code-pushup/
coverage/
*.tsbuildinfo
.DS_Store
.nx/
.pytest_cache/
__pycache__/
*.py[cod]
.coverage
coverage.json
target/
e2e/**/logs/**
!e2e/**/logs/.gitignore
!e2e/**/logs/**/.gitignore
